@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body , html{
  overflow-x: hidden;
}
.primary{
  color: #1877F2;
}
.primary-bg{
  background-color: #1877F2;
}
.secondary{
  color: #151617;
}
.secondary-bg{
  background-color: #151617;
}